{% extends "base.html.twig" %}

{% block title %}Lecture d'un film{% endblock %}

{% block content %}
    <main class="container mt-4">
        <form action="/films/read" method="POST">
        <div class="form-group mb-3">
            <label for="id" class="form-label">Identifiant du film à lire</label>
            <input type="text" id="id" name="id" class="form-control" placeholder="Identifiant du film" required>
            <button type='submit' class="btn btn-primary btn-lg">Confirmer</button>
        </div>        
        </form>
    </main>
{% endblock %}