{% extends "base.html.twig" %}

{% block title %}Modification d'un film{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card shadow-lg">
                <div class="mt-4 text-center">
                    <form method="POST" action="/films/update?verif=false">
                        <label for="id" class="form-label"> Quel film voulez-vous modifier ?</label>
                        <input type="text" id="id" name="id" class="form-control" placeholder="Identifiant du film" required>
                        <button type="submit" class="btn btn-lg btn-danger">
                            <i class="bi bi-trash-fill"></i> Modifier le film
                        </button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
