<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<div class="filmoteca-logo">
				<div class="film-strip">
					<div class="strip-hole"></div>
					<div class="strip-hole"></div>
					<div class="strip-hole"></div>
					<div class="strip-hole"></div>
				</div>
				<div class="logo-text">Filmoteca</div>
			</div>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="/films/list">
						<i class="fas fa-list"></i>
						Liste des films
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/films/create">
						<i class="fas fa-plus-circle"></i>
						Ajouter un film
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/films/read">
						<i class="fas fa-eye"></i>
						Lire un film
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/films/update">
						<i class="fas fa-pen"></i>
						Modifier un film
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/films/delete>
						<i class="fas fa-minus-circle"></i>
						Supprimer un film
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>