{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container my-5">
        <p class="lead text-muted">
            Gérez vos contacts.
        </p>
        <a href="/contact/" class="btn btn-success btn-lg">
            <i class="fas fa-film"></i> Voir les contacts
        </a>
    </section>

   
{% endblock %}
